@import "tailwindcss";

@font-face {
  font-family: 'Gill Sans';
  src: url('../../public/assets/fonts/Gill\ Sans.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
background-color: aliceblue;
  color: var(--foreground);
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}


.startContainer {
  height: 100vh;
  width: 100vw;
  background-image: url('../../public/assets/img/loadingScreen.gif');
   background-size: cover;       /* ajuste l’image pour couvrir tout le conteneur */
  background-position: center;  /* centre l’image */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}

.startContainer img {
  max-width: 300px;
}

.title{
  margin-top: -35%;
}



.sectionHomeContainer{
  background-image: url('../../public/assets/img/bgArticle.jpg');
  background-size: cover;       
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

  display: flex;
  flex-direction: column;
  gap: 100px;
}


.containerGuidePage{
  background-image: url("../../public/assets/img/bgArticle.jpg");
   background-size: cover;       
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


/* --------------------------


    GUIDE PAGE


-------------------------- */


.cardDiv {
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;
}




/* --------------------------


    SHOP PAGE


-------------------------- */






