@font-face {
  font-family: 'Gill Sans';
  src: url('../../../public/assets/fonts/Gill\ Sans.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}


.navbarContainer {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  display: flex;
  height: 60px;
  background-color: rgb(48, 45, 45);
  color: white;
  font-weight: bold;
  align-items: center;
  padding: 0 20px;
  font-size: 15px;
   position: sticky;
  top: 0;
  z-index: 1000;
 
}



.logo, .navbarItem, .navbarSettings {
  flex: 1;
}

.logo, .navbarSettings {
  display: flex;
  align-items: center;
}

.logo :hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.navbarSettings {
  justify-content: flex-end;
  gap: 20px;
}

.navbarSettings ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbarSettings ul a {
  cursor: pointer;
}

.navbarSettings ul a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbarSettings ul a:hover {
  color: orange;
}


.containerList li a {
  position: relative; /* important pour positionner ::after */
  text-decoration: none;
  color: inherit;
  padding-bottom: 5px;
}

.containerList li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -80%; 
    width: 0%;
    height: 3px;
    background-color: orange;
    transition: width 0.3s ease-in-out;
}

.containerList li a:hover:after {
    width: 100%; 
}

.cart-icon-wrapper {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: red;
  color: white;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 999px;
  font-weight: bold;
}
